<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
  <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('number', 'position id');
    data.addColumn('number', 'profit');


    data.addRows([
        {{ range .Profit }}
        [{{ .Number}},{{ .ProfitSum}}],
        {{ end }}
    ]);

    var options = {
      chart: {
        title: 'Bakueki system',
        subtitle: 'this system increase your money'
      },
      width: 900,
      height: 500,
      axes: {
  //      x: {
  //        0: {side: 'top'}
  //      }
      }
    };

    var chart = new google.charts.Line(document.getElementById('line_top_x'));

    chart.draw(data, google.charts.Line.convertOptions(options));
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['time(second)by day', 'profit'],

        {{ range .Profit }}
        [{{ .DateSecond}},{{ .Profit}}],
        {{ end }}
    ]);

    var options = {
      title: 'bakuzon time.',
      hAxis: {title: 'time(second)by day', minValue: 0, maxValue: 86399},
      vAxis: {title: 'profit', minValue: 0, maxValue: 80000},
      legend: 'none'
    };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>


<style>
html,
body {
	font-family: 'Trebuchet MS', Roboto, Ubuntu, sans-serif;
	background: #f9fafb;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sma-legend {
	width: 96px;
	height: 70px;
	position: absolute;
	padding: 8px;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.23);
	text-align: left;
	z-index: 1000;
	pointer-events: none;
}
</style>
</head>
<body>
<h1>{{.Title}}</h1>
<p>{{.Message}}</p>
<p>現在時刻: {{.Time.Format "2006/1/2 15:04:05"}}</p>


<div id="line_top_x"></div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>


<div id="time_is">0000</div>


<script>
  document.body.style.position = 'relative';
  
  var container = document.createElement('div');
  document.body.appendChild(container);
  
  var width = 1200;
  var height = 600;
  
  var chart = LightweightCharts.createChart(container, {
    width: width,
    height: height,
    crosshair: {
      mode: LightweightCharts.CrosshairMode.Normal,
    },
  });
  
  var candleSeries = chart.addCandlestickSeries();
  var data = generateBarsData();
  candleSeries.setData(data);
  candleSeries.setMarkers([


    {{range .PositionTime }}
    {
        time: {{.Id}},
        position: '{{.Position}}',
        color: '{{.LabelColor}}',
        size:{{.LabelSize}},
        shape: '{{.Shape}}',
        text: '{{.ProfitText}}',
    },
    {{end}}



  ])
  

  var smaData = calculateSMA(data, 25);
  var smaData2 = calculateSMA(data, 5);
  var smaLine = chart.addLineSeries({
    color: 'rgba(4, 30, 0, 1)',
    lineWidth: 2,
  });
  
  var smaLine2 = chart.addLineSeries({
    color: 'rgba(4, 111, 232, 1)',
    lineWidth: 2,
  });
  smaLine.setData(smaData);
  smaLine2.setData(smaData2);
  
  var legend = document.createElement('div');
  legend.className = 'sma-legend';
  container.appendChild(legend);
  legend.style.display = 'block';
  legend.style.left = 3 + 'px';
  legend.style.top = 3 + 'px';
  
  function setLegendText(priceValue) {
    let val = 'n/a';
    if (priceValue !== undefined) {
      val = (Math.round(priceValue * 100) / 100).toFixed(2);
    }
    legend.innerHTML = 'MA10 <span style="color:rgba(4, 111, 232, 1)">' + val + '</span>';
  }
  
  setLegendText(smaData[smaData.length - 1].value);
  
  chart.subscribeCrosshairMove((param) => {
    setLegendText(param.seriesPrices.get(smaLine));
  });
  
  function calculateSMA(data, count){
    var avg = function(data) {
      var sum = 0;
      for (var i = 0; i < data.length; i++) {
         sum += data[i].close;
      }
      return sum / data.length;
    };
    var result = [];
    for (var i=count - 1, len=data.length; i < len; i++){
      var val = avg(data.slice(i - count + 1, i));
      result.push({ time: data[i].time, value: val});
    }
    return result;
  }
  
  function generateBarsData(period) {
    //var res = [];
    /*
    var controlPoints = generateControlPoints(res, period);
    for (var i = 0; i < controlPoints.length - 1; i++) {
      var left = controlPoints[i];
      var right = controlPoints[i + 1];
      fillBarsSegment(left, right, res);
    }
    */
    var res = [
      {{range $i, $v := .CanleData }}
    {
      "time": {{$i}},
      "open":{{.Open}},
      "high":{{.High}},
      "low":{{.Low}},
      "close":{{.Close}}
    },
    {{end}}
    ]
    console.log(res)
    return res;
  }

  
  function fillBarsSegment(left, right, points) {
    var deltaY = right.price - left.price;
    var deltaX = right.index - left.index;
    var angle = deltaY / deltaX;
    for (var i = left.index; i <= right.index; i++) {
      var basePrice = left.price + (i - left.index) * angle;
      var openNoise = (0.1 - Math.random() * 0.2) + 1;
      var closeNoise = (0.1 - Math.random() * 0.2) + 1;
      var open = basePrice * openNoise;
      var close = basePrice * closeNoise;
      var high = Math.max(basePrice * (1 + Math.random() * 0.2), open, close);
      var low = Math.min(basePrice * (1 - Math.random() * 0.2), open, close);
      points[i].open = open;
      points[i].high = high;
      points[i].low = low;
      points[i].close = close;
    }
  }
  
  function generateControlPoints(res, period, dataMultiplier) {
    var time = period !== undefined ? period.timeFrom : { day: 1, month: 1, year: 2018 };
    var timeTo = period !== undefined ? period.timeTo : { day: 1, month: 1, year: 2019 };
    var days = getDiffDays(time, timeTo);
    dataMultiplier = dataMultiplier || 1;
    var controlPoints = [];
    controlPoints.push({ index: 0, price: getRandomPrice() * dataMultiplier });
    for (var i = 0; i < days; i++) {
      if (i > 0 && i < days - 1 && Math.random() < 0.05) {
        controlPoints.push({ index: i, price: getRandomPrice() * dataMultiplier });
      }
      res.push({ time: time });
      time = nextBusinessDay(time);
    }
    controlPoints.push({ index: res.length - 1, price: getRandomPrice() * dataMultiplier });
    return controlPoints;
  }
  
  function getDiffDays(dateFrom, dateTo) {
    var df = convertBusinessDayToUTCTimestamp(dateFrom);
    var dt = convertBusinessDayToUTCTimestamp(dateTo);
    var diffTime = Math.abs(dt.getTime() - df.getTime());
    return Math.ceil(diffTime / (1000 * 60 * 60 * 24));
  }
  
  function convertBusinessDayToUTCTimestamp(date) {
    return new Date(Date.UTC(date.year, date.month - 1, date.day, 0, 0, 0, 0));
  }
  
  function nextBusinessDay(time) {
    var d = convertBusinessDayToUTCTimestamp({ year: time.year, month: time.month, day: time.day + 1 });
    return { year: d.getUTCFullYear(), month: d.getUTCMonth() + 1, day: d.getUTCDate() };
  }
  
  function getRandomPrice() {
    return 10 + Math.round(Math.random() * 10000) / 100;
  }
  function handleClick(param) {
    if (!param.point) {
        return;
    }
    var time_is = document.getElementById('time_is');
    time_is.innerHTML = param.time;
}
chart.subscribeClick(handleClick);
  </script>
</body>
</html>
