<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('number', 'position id');
    data.addColumn('number', 'profit');


    data.addRows([
        {{ range .Profit }}
        [{{ .Number}},{{ .ProfitSum}}],
        {{ end }}
    ]);

    var options = {
      chart: {
        title: 'Bakueki system',
        subtitle: 'this system increase your money'
      },
      width: 900,
      height: 500,
      axes: {
  //      x: {
  //        0: {side: 'top'}
  //      }
      }
    };

    var chart = new google.charts.Line(document.getElementById('line_top_x'));

    chart.draw(data, google.charts.Line.convertOptions(options));
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['time(second)by day', 'profit'],

        {{ range .Profit }}
        [{{ .DateSecond}},{{ .Profit}}],
        {{ end }}
    ]);

    var options = {
      title: 'bakuzon time.',
      hAxis: {title: 'time(second)by day', minValue: 0, maxValue: 86399},
      vAxis: {title: 'profit', minValue: 0, maxValue: 80000},
      legend: 'none'
    };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<script>
  google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
  function drawVisualization() {
  var dashboard = new google.visualization.Dashboard(
       document.getElementById('dashboard'));

   var control = new google.visualization.ControlWrapper({
     'controlType': 'ChartRangeFilter',
     'containerId': 'control',
     'options': {
       // Filter by the date axis.
       'filterColumnIndex': 0,
       'ui': {
         'chartType': 'LineChart',
         'chartOptions': {
           'chartArea': {'width': '90%'},
             'hAxis': {'baselineColor': 'none', format: "yyyy.MM.dd" }
         },
         // Display a single series that shows the closing value of the stock.
         // Thus, this view has two columns: the date (axis) and the stock value (line series).
         'chartView': {
           'columns': [0, 3]
         },
         // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
         'minRangeSize': 2640000
       }
     },
     // Initial range: 2012-02-09 to 2012-03-20.
     'state': {'range': {'start': new Date(2021, 6, 1), 'end': new Date(2021, 12, 20)}}
   });

   var chart = new google.visualization.ChartWrapper({
     'chartType': 'CandlestickChart',
     'containerId': 'chart',
     'options': {
       // Use the same chart area width as the control for axis alignment.
       'chartArea': {'height': '100%', 'width': '95%'},
       'hAxis': {'slantedText': false},
       'vAxis': {'viewWindow': {'min': 3900000, 'max': 4600000}},
       'legend': {'position': 'none'},
        backgroundColor: 'white',
        colors: ['black'],        
       lineWidth: 0.1,
        bar: {
        groupWidth: '90%'
        },
       series: {
				1:{
				type: "line",
				color: 'pink',
				lineWidth: 1,
				},
				2:{
				type: "line",
				color: 'red',
				lineWidth: 1,
				}
       }
     },
     // Convert the first column from 'date' to 'string'.
     'view': {
       'columns': [
         {
           'calc': function(dataTable, rowIndex) {
             return dataTable.getFormattedValue(rowIndex, 0);
           },
           'type': 'string'
         }, 1, 2, 3, 4, 5, 6]
     }
   });

   var data = new google.visualization.DataTable();
   data.addColumn('date', 'Date');
   data.addColumn('number', 'Stock low');
   data.addColumn('number', 'Stock open');
   data.addColumn('number', 'Stock close');
   data.addColumn('number', 'Stock high');
   data.addColumn('number', 'Stock long');
   data.addColumn('number', 'Stock short');

  
   // Create random stock values, just like it works in reality.
   var open , close, low ,high = 0;
//     var date = new Date(2012, 0 ,day);
//     data.addRow([date,low, open, close, high, 200, 500]);

   {{ range .CanleDate }}
      var date = new Date('{{ .Date}}');
      data.addRow([date, {{ .Low}},{{ .Open}},{{ .Close}},{{ .High}}, 4200000, 4000000]);
   {{ end }}

  /* Change the format of the date column, used in chart, but not chart range filter */  
  var formatter = new google.visualization.DateFormat({pattern: "yyyy.MM.dd"});
  formatter.format(data, 0);

  
   dashboard.bind(control, chart);
   dashboard.draw(data);
}

google.setOnLoadCallback(drawVisualization);

</script>

</head>
<body>
<h1>{{.Title}}</h1>
<p>{{.Message}}</p>
<p>現在時刻: {{.Time.Format "2006/1/2 15:04:05"}}</p>


<div id="line_top_x"></div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>



<div id="dashboard">
  <div id="chart" style='width: 1915px; height: 1300px;'></div>
  <div id="control" style='width: 1915px; height: 50px;'></div>
</div>

</body>
</html>
